@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a9a9a9;
  --color-background: #222222;
  --color-blue: #818c9e;
  --color-purple: #9482a1;
  --color-green: #62aa5e;
}

@font-face {
  font-family: DigitalNumbers;
  src: url("../assets/fonts/DigitalNumbers-Regular.ttf");
}

@font-face {
  font-family: Basker;
  src: url("../assets/fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: Ephesis;
  src: url("../assets/fonts/Ephesis-Regular.ttf");
}

html {
  height: stretch;
  height: -webkit-stretch;
}

body {
  min-height: 100lvh;
  min-height: stretch;
  min-height: stretch;
  color: var(--color-text);
  background: var(--color-background);
}

.cursive {
  font-family: Ephesis;
}

.digital {
  font-family: DigitalNumbers;
}

.basker {
  font-family: Basker;
}

.text-gold {
  color: #a9a9a9;
}

.gold {
  background: -webkit-linear-gradient(#a9a9a9, #808080);
}

.border {
  border: 2px solid;
  border-image-slice: 1;
  border-color: var(--color-primary);
}

.border-blue {
  border-color: var(--color-blue);
}

.border-purple {
  border-color: var(--color-purple);
}

.border-green {
  border-color: var(--color-green);
}

.text-blue {
  color: var(--color-blue);
}

.text-purple {
  color: var(--color-purple);
}

.text-green {
  color: var(--color-green);
}

.center {
  text-align: center;
}

.nft {
  background-size: contain;
  background-image: url("/img/default.png");
  width: 100%;
  height: 100%;
}

.noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}

.noise-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.tv-static {
  position: absolute;
  top: -680px;
  right: -800px;
  bottom: -700px;
  left: -750px;
  background: transparent url("../assets/images/multispingif.gif") 0 0;
  background-size: 600px 338px;
  opacity: 1;
  
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 12px;
  position: relative;
  top: 3px;
  float: right;
}

@keyframes tv-static {
  0% {
    transform: translateX(0px, 0px);
  }

  10% {
    transform: translate(-100px, 100px);
  }

  20% {
    transform: translate(150px, -100px);
  }

  30% {
    transform: translate(-100px, 100px);
  }

  40% {
    transform: translate(100px, -150px);
  }

  50% {
    transform: translate(-100px, 200px);
  }

  60% {
    transform: translate(-200px, -100px);
  }

  70% {
    transform: translateY(50px, 100px);
  }

  80% {
    transform: translate(100px, -150px);
  }

  90% {
    transform: translate(0px, 200px);
  }

  100% {
    transform: translate(-100px, 100px);
  }


}

.circle-container {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(12, 50px);
  grid-gap: 5px;
  justify-content: center;
  margin: 60px auto 20px; /* Adjusted for visual spacing */
  padding-top: 0px;
  align-items: start;
  position: relative; /* For absolute positioning of children */
  

  grid-template-areas: 
      ". . . . . . . . . . . "
      ". . . . . . . . . . . "
      ". . inventory inventory inventory inventory inventory inventory inventory. . "
      ". . remaining-count remaining-count remaining-count remaining-count remaining-count remaining-count remaining-count . . "
      ". . . . . . . . . . . "
      ". . charm charm charm charm charm charm charm  . . "
      ". . charm charm charm charm charm charm charm  . . "
      ". . charm charm charm charm charm charm charm  . . "
      ". . charm charm charm charm charm charm charm  . . "
      ". . . . . . . . . . . "
      ". . . . . . . . . . . "
      /* Continue defining areas if needed */
}

.square-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A9A9A9;
  position: absolute; /* Absolute positioning for individual placement */
}



.square-container:nth-child(1) { grid-column: 1; }
.square-container:nth-child(2) { grid-column: 2; }
.square-container:nth-child(3) { grid-column: 3; }
.square-container:nth-child(4) { grid-column: 4; }
.square-container:nth-child(5) { grid-column: 5; }
.square-container:nth-child(6) { grid-column: 6; }
.square-container:nth-child(7) { grid-column: 7; }
.square-container:nth-child(8) { grid-column: 8; }
.square-container:nth-child(9) { grid-column: 9; }
.square-container:nth-child(10) { grid-column: 10; }
.square-container:nth-child(11) { grid-column: 11; }
.square-container:nth-child(12) { grid-column: 11; grid-row: 2;}
.square-container:nth-child(13) { grid-column: 11; grid-row: 3; }
.square-container:nth-child(14) { grid-column: 11; grid-row: 4; }
.square-container:nth-child(15) { grid-column: 11; grid-row: 5; }
.square-container:nth-child(16) { grid-column: 11; grid-row: 6; }
.square-container:nth-child(17) { grid-column: 11; grid-row: 7; }
.square-container:nth-child(18) { grid-column: 11; grid-row: 8; }
.square-container:nth-child(19) { grid-column: 11; grid-row: 9; }
.square-container:nth-child(20) { grid-column: 11; grid-row: 10; }
.square-container:nth-child(21) { grid-column: 11; grid-row: 11; }
.square-container:nth-child(22) { grid-column: 11; grid-row: 12; }
.square-container:nth-child(23) { grid-column: 10; grid-row: 12; }
.square-container:nth-child(24) { grid-column: 9; grid-row: 12; }
.square-container:nth-child(25) { grid-column: 8; grid-row: 12; }
.square-container:nth-child(26) { grid-column: 7; grid-row: 12; }
.square-container:nth-child(27) { grid-column: 6; grid-row: 12; }
.square-container:nth-child(28) { grid-column: 5; grid-row: 12; }
.square-container:nth-child(29) { grid-column: 4; grid-row: 12; }
.square-container:nth-child(30) { grid-column: 3; grid-row: 12; }
.square-container:nth-child(31) { grid-column: 2; grid-row: 12; }
.square-container:nth-child(32) { grid-column: 1; grid-row: 12; }
.square-container:nth-child(33) { grid-column: 1; grid-row: 11; }
.square-container:nth-child(34) { grid-column: 1; grid-row: 10; }
.square-container:nth-child(35) { grid-column: 1; grid-row: 9; }
.square-container:nth-child(36) { grid-column: 1; grid-row: 8; }
.square-container:nth-child(37) { grid-column: 1; grid-row: 7; }
.square-container:nth-child(38) { grid-column: 1; grid-row: 6; }
.square-container:nth-child(39) { grid-column: 1; grid-row: 5; }
.square-container:nth-child(40) { grid-column: 1; grid-row: 4; }
.square-container:nth-child(41) { grid-column: 1; grid-row: 3; }
.square-container:nth-child(42) { grid-column: 1; grid-row: 2; }


